<nz-layout class="inner-layout" style="margin: 0 15%;">
    <nz-table #basicTable [nzData]="data">
        <thead>
            <tr style="text-align: center ;">
                <th style="text-align: center ;">STT</th>
                <th style="text-align: center ;">Name</th>
                <th style="text-align: center ;">Price</th>
                <th style="text-align: center ;">Content</th>
                <th style="text-align: center ;">Image</th>
                <th style="text-align: center ;">Action</th>
                <th> <button class="btn-add"><a href="admin/add">Add</a></button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data ; let i = index" style="text-align: center ;">
                <td>{{i + 1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.price}}</td>
                <td>{{data.subject}}</td>
                <td><img nz-image width="100px" height="100px"
                        nzSrc="https://image-us.24h.com.vn/upload/1-2021/images/2021-01-03/Sieu-pham-Lamborghini-Sian-dau-tien-xuat-hien-tai-Bac-My-l--2--1609615179-592-width660height479.jpg"
                        alt="" /></td>
                <td>
                    <button class="btn btn-danger" (click)="onHandelRemove(data.id!)">Delete </button>
                    <button class="btn btn-info ms-1"><a routerLink="/edit/{{data.id}}">Edit</a></button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-layout>